body {
    width: 1100px;
    background-color: aqua;
}

.imageContainer img {
    max-width: 400px;
    display: block;
    margin: 10px auto;
}

.col1 {
    width: 200px;
}

.col2 {
    width: 600px;
    text-align: center;
}

.col3 {
    width: 200px;
}

table {
    width: 100%;
}
